.empty { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: transparent;

  .text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #646a73;
  }
}